<div class="h-screen flex flex-col justify-center items-center text-center">
    <div class="font-semibold mb-8 max-sm:mb-5 mx-12 text-4xl max-sm:text-[1.8rem] font-sans leading-[3.5rem]">
        @Core.UploadMessage
    </div>
    @if (Core.UploadMessage.Length > 0)
    {
        <Spinner Size="Spinner.Sizes.LARGE" />
    }
</div>
