<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="not-found-text">
                <p role="alert">Sorry, there's nothing at this address.</p>
                <p style="margin-top: -2em">☹️</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
