@page "/"

<PageTitle>PDF Toolkit</PageTitle>

<div class="h-full flex flex-col justify-center items-center">
    <div
        class="h-[8rem] flex flex-col justify-center items-center text-center mt-14 max-sm:mt-10 mx-12 font-bold tracking-wide text-6xl max-sm:text-5xl font-sans">
        PDF Toolkit
    </div>
    <div
        class="h-[6rem] flex flex-col justify-center items-center mt-9 max-sm:mt-3 font-semibold text-5xl max-sm:text-4xl font-sans">
        Available Tools
    </div>
    <div
        class="h-[21rem] w-[40rem] max-sm:h-[25.5rem] max-sm:w-[23rem] flex flex-wrap flex-row justify-center items-center mt-6 max-sm:mt-3 text-3xl max-sm:text-2xl font-sans">
        <a href="/pdf-merger">
            <button
                class="m-5 max-sm:m-3 rounded-xl bg-[#074DA6] dark:bg-[#05336E] hover:bg-[#05346e] dark:hover:bg-[#04234D] hover:ring hover:ring-[#0091ff] dark:hover:ring-[#074DA6] text-gray-200 p-2 h-32 w-40 max-sm:h-[7rem] max-sm:w-[8.5rem]">
                PDF Merger
            </button>
        </a>
        <a href="/pdf-page-extractor">
            <button
                class="m-5 max-sm:m-3 rounded-xl bg-[#074DA6] dark:bg-[#05336E] hover:bg-[#05346e] dark:hover:bg-[#04234D] hover:ring hover:ring-[#0091ff] dark:hover:ring-[#074DA6] text-gray-200 p-2 h-32 w-40 max-sm:h-[7rem] max-sm:w-[8.5rem]">
                PDF Page Extractor
            </button>
        </a>
        <a href="/pdf-page-deleter">
            <button
                class="m-5 max-sm:m-3 rounded-xl bg-[#074DA6] dark:bg-[#05336E] hover:bg-[#05346e] dark:hover:bg-[#04234D] hover:ring hover:ring-[#0091ff] dark:hover:ring-[#074DA6] text-gray-200 p-2 h-32 w-40 max-sm:h-[7rem] max-sm:w-[8.5rem]">
                PDF Page Deleter
            </button>
        </a>
        <a href="/image-to-pdf">
            <button
                class="m-5 max-sm:m-3 rounded-xl bg-[#074DA6] dark:bg-[#05336E] hover:bg-[#05346e] dark:hover:bg-[#04234D] hover:ring hover:ring-[#0091ff] dark:hover:ring-[#074DA6] text-gray-200 p-2 h-32 w-40 max-sm:h-[7rem] max-sm:w-[8.5rem]">
                Image To PDF
            </button>
        </a>
        <a href="/pdf-encryptor">
            <button
                class="m-5 max-sm:m-3 rounded-xl bg-[#074DA6] dark:bg-[#05336E] hover:bg-[#05346e] dark:hover:bg-[#04234D] hover:ring hover:ring-[#0091ff] dark:hover:ring-[#074DA6] text-gray-200 p-2 h-32 w-40 max-sm:h-[7rem] max-sm:w-[8.5rem]">
                PDF Encryptor
            </button>
        </a>
    </div>
</div>