@page "/"
@inject IJSRuntime JSRuntime;


<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">

        <h1>Welcome to my PDF Toolkit</h1>

    </header>


    <!-- Main -->
    <div>

        <section id="intro" class="main special">

            <h1>Tools Available</h1>

        </section>

    </div>


    <!-- Options -->
    <div>

        <section id="intro" class="main special">

            <a href="/pdfmerger" class="button primary large">PDF Merger</a>
            <a href="/pdfencryptor" class="button primary large">PDF Encryptor</a>
            <a href="/pdfpagedeleter" class="button primary large">PDF Page Deleter</a>
            <a href="/imagetopdf" class="button primary large">IMAGE To PDF</a>

        </section>

    </div>


    <!-- Footer -->
    <footer id="footer">
        <section style="text-align: center;">
            <img src="../images/square_crop_less.jpg" alt="" style="max-width: 93px; border-radius: 50%;" />
            <h3 style="font-weight: bold;">Subham Karmakar</h3>
            <p>Coder / Programmer || Software Engineer || Likes to tinker with new technologies || Learning everyday</p>
            <a style="margin-top: 0em; margin-bottom: 0em;" href="https://www.subhamk.com" class="button">About Me</a>
            <a style="margin-top: 0em; margin-bottom: 0em;" href="https://blogs.subhamk.com" class="button">My Blogs</a>
        </section>
        <section>
            <h2 style="text-align: center;">Follow</h2>
            <ul class="icons" style="text-align: center;">
                <!-- <li><a href="#" class="icon brands fa-facebook-f alt"></a></li> -->
                <!-- <li><a href="#" class="icon brands fa-instagram alt"></a></li> -->
                <li>
                    <a href="https://www.github.com/SubhamK108" class="icon brands fab fa-github alt" title="GitHub"></a>
                </li>
                <li>
                    <a href="https://www.twitter.com/SubhamK108" class="icon brands fab fa-twitter alt" title="Twitter"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/subham-karmakar-96024b200/" class="icon brands fab fa-linkedin-in alt" title="LinkedIn"></a>
                </li>
                <li>
                    <a href="https://www.hackerrank.com/SubhamK108" class="icon brands fab fa-hackerrank alt" title="HackerRank"></a>
                </li>
                <li>
                    <a href="https://www.leetcode.com/SubhamK108" class="icon solid fas fa-code alt" title="LeetCode"></a>
                </li>
            </ul>
        </section>
    </footer>

</div>



@code {
    //protected override async Task OnInitializedAsync()
        //{
    //}
}
