<div class="h-screen flex flex-col justify-center items-center text-center font-[sans serif]">
    <h1 class="text-[2rem] max-sm:text-[1.5rem] mb-5 px-10">@("Sorry, there's nothing at this address.")</h1>
    <p class="text-4xl mb-10">☹️</p>
    <a href="/">
        <button
            class="text-3xl max-sm:text-2xl rounded-xl bg-[#074DA6] dark:bg-[#05336E] hover:bg-[#05346e] dark:hover:bg-[#04234D] hover:ring hover:ring-[#0091ff] dark:hover:ring-[#074DA6] text-gray-200 p-2 h-[4.5rem] w-52 max-sm:h-16 max-sm:w-40"
        >
            Go to Home
        </button>
    </a>
</div>