@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "Cascadia Code";
  src: url("../fonts/CascadiaCodePL.woff2") format("woff2");
  font-weight: 350;
}
